<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--定义mybatis实体类的别名,为了在mapper文件中type字段调用-->
        <package name="com.sicnu.domain" />
    </typeAliases>
    <mappers>
        <!--输入mapper文件的位置-->
        <package name="com.sicnu.dao" />
    </mappers>
</configuration>